/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	padding: 50px;
}


.delitko {
	margin: 50px 0;
}



.tlacitko {
	display: inline-block;
	padding: 20px 30px;
	font-size: 24px;
	line-height: 1;
	background-color: #e74c3c;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}


.ctverecek {
	width: 250px;
	height: 250px;
	background-color: #2ecc71;
}


.kolecko {
	width: 250px;
	height: 250px;
	background-color: #3498db;;
}


/* ------------------------------------------ */
.ctverecek{
    transition: 2s; /* přechod*/
}

.ctverecek:hover{
    background-color: #e74c3c;
    width: 1000px; /* da se animovat i výška, i radius*/
    opacity: 0.5; /* průhlednost*/
}

.kolecko{
    transition: 0.3s; /*animace rychle, ne moc dlouhé*/
}

.kolecko:hover{
    border-radius:50% ;
}
